[Unit]
Description=Mount a gocryptfs-encrypted folder inside Dropbox
ConditionPathIsDirectory=%h/Dropbox/Encrypted
ConditionPathIsDirectory=%h/vaults
ConditionPathExists=%h/.gocryptfs-dropbox
After=dropbox.service
BindsTo=dropbox.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/gocryptfs -passfile %h/.gocryptfs-dropbox %h/Dropbox/Encrypted %h/vaults/Dropbox
ExecStartPre=/usr/bin/mkdir -p %h/vaults/Dropbox
ExecStop=/usr/bin/fusermount -u %h/vaults/Dropbox

[Install]
WantedBy=dropbox.service
