* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font, FontAwesome, Roboto, Helvetica,
    Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: none;
    color: rgba(212, 207, 196, 0.6);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.4;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #c0c0c0;
}

window#waybar.chromium {
    background-color: white;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px black;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: white;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.2);
}

#workspaces button.focused {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 -3px black;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #9b8d82;
    border-bottom: 3px solid orange;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-mpris-media,
#tray,
#mode,
#scratchpad,
#language,
#mpd {
    padding: 0 10px;
    color: white;
    background-color: black;
}

#clock {
    padding: 0 10px;
    color: white;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
    color: white;
}

@keyframes blink {
    to {
        background-color: black;
        color: white;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: white;
}

#pulseaudio.muted {
    background-color: #f2ece3;
    color: #d5a3ba;
}


#temperature.critical {
    background-color: #eb4d4b;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#language {
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#scratchpad {
    background: rgba(255, 255, 255, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
