* {
	font-size: 15px;
	font-family: JetBrainsMono Nerd Font;
}

window#waybar {
	color: #fdf6e3;
	background: #9e5303;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #111114;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #9e5303;
	background: #111114;
}

#workspaces,
#window,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #111114;
}

#window {
	color: white;
}

#workspaces button {
	padding: 0 2px;
	color: white;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#clock {
    color: white;
}
#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #850505;
}
#disk {
	color: #2bbf6e;
}
#temperature {
    color: #1b07f4;
}
#idle_inhibitor {
    color: #5b552f;
}
#idle_inhibitor.activated {
    color: #e5d56e;
}
#custom-mpris-media {
    color: white;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#custom-mpris-media,
#idle_inhibitor,
#temperature {
	background: #111114;
	border: #111114;
	padding: 0 3px;
}

